.left-column {
  width: 58%;
  position: relative;
}
.left-column img {
  width: 30vw;
  left: 100px;
  border: solid;
}
.dogovor {
}
.dogovor + p {
  padding: 10px;
  top: 40%;
  background-color: rgba(255, 253, 251, 0.7);
  font-size: 4rem;
  border-radius: 25px;
  color: #000;
}
.carousel button#free {
  top: 58%;
}

@media (max-width: 768px) {
  .dogovor + p {
    font-size: 2.8rem;
  }
  .carousel button#free {
    left: 16%;
  }
}
