.license {
  width: 35%;
}

.license-wrapper h2 {
  margin: 20px 0;
}
.license-wrapper p {
  margin: 10px 0;
}
.license img {
  float: left;
  left: 0;
}

.license h3 {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
  padding: 5px;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.license p {
  font-family: "Playfair Display SC", serif;
  font-size: 2.7rem;
  line-height: 2.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0;
}

.license-items {
  height: 0%;
  margin-top: 3rem;
}

.color-box-mo {
  float: right;
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: #000;
  border: 3px #000 solid;
  transition: border 0.2s linear;
}
.color-box {
  float: right;
  margin: 10px;
  width: 50px;
  height: 50px;
  border: 3px #000 solid;
  transition: border 0.2s linear;
}
.color-box:hover {
  /* border: 1px #000 solid; */
}
.color-box-mo:hover {
  border: 1px #000 solid;
}

.anma,
.color-box-mo {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}
.anma::after {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: "";
  height: 100%;
  width: 100%;
  border: 8px solid rgba(0, 0, 0, 0.2);
  animation-name: ripple;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}
.anma::before {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: "";
  height: 100%;
  width: 100%;
  border: 8px solid rgba(0, 0, 0, 0.2);
  animation-name: ripple;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

.yellow {
  background-color: #ffcb00;
}
.white {
  background-color: #fff;
}
.gray {
  background-color: rgb(199, 199, 199);
}
.license img {
  width: 100px;
  float: left;
  margin: 10px;
}

.license h1 {
  position: relative;
  display: inline;
  top: 40px;
  left: 25px;
  font-size: 3rem;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  height: initial;
  background-color: rgb(12, 12, 12);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.5rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
}

table {
  /* border-spacing: 1; */
  /* border-collapse: collapse; */
  background: white;
  overflow: hidden;
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
  border: 1px #000 solid;
  letter-spacing: 1.5px;
}
table thead tr {
  height: 60px;
  background: #ffed86;
  font-size: 2rem;
  font-family: "Sawarabi Gothic", sans-serif;
}

table tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
  font-size: 1.6rem;
  font-family: "Vollkorn", serif;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}
/* @media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Название предмета";
  }
  table tbody tr td:nth-child(2):before {
    content: "Описание";
  }
} */

.file-upload {
  background-color: rgb(17, 139, 209);
  color: white;
  padding: 1.3rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  font-weight: bold;
}

#file-chosen {
  margin-left: 0.3rem;
  font-size: 1.1rem;
  font-family: sans-serif;
}

/* .request-loader {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
} */
/* .request-loader span {
  position: relative;
  font-size: 72px;
  top: 5px;
  left: -5px;
} */
@media (max-width: 940px) {
  .carousel button#free {
    left: 30%;
    font-weight: 700;
  }
  .license-wrapper h2 {
    text-align: center;
  }
  .process-item {
    width: 70%;
    margin: 17px;
  }
  .license img {
    width: 70px;
    left: 31px;
    left: -12px;
    top: -7px;
  }
  .color-box-mo {
    width: 65px;
    height: 65px;
    top: -31px;
  }
  .license h1 {
    top: 20px;
    left: -5px;
  }
  .contact-right {
    height: 92vh;
  }
  .file-upload {
    margin: 1rem;
    font-size: 1.1rem;
  }
  .submit-btn {
    margin-top: 0.5rem;
  }
}
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}
