@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Martel", serif;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* padding: 2vw; */
  /* font-family: monospace; */
}
li {
  list-style-type: none;
}
ul {
  list-style: none;
}
/* Navigation */
.topnav li {
  list-style-type: none;
  margin: 0 4vw;
  padding: 2vh;
}
.the-bot {
  display: none;
}
.topnav {
  background-color: #000;
  /* background: linear-gradient(
    45deg,
    rgba(45, 45, 45, 1) 9%,
    rgba(0, 0, 0, 1) 100%
  ); */
  font-size: 3vh;
  position: fixed;
  z-index: 9999;
  top: 0px;
  transition: opacity 0.5s linear;
  /* height: 10vh; */
}
.topnav:hover {
  opacity: 1;
}
.topnav ul {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.topnav img {
  position: absolute;
  width: 19vh;
}
.topnav button {
  display: none;
}

/* drop down menu */
.topnav .dropdown {
  padding: 5px;
  width: -moz-fit-content;
  width: fit-content;
  height: 20vh;
}

.dropdown li {
  display: block;
  transition-duration: 0.5s;
  background-color: #d3a136;
  margin: 0;
  padding: 16px;
  transition: background-color 0.3s linear;
}

.dropdown li:hover {
  cursor: pointer;
  background-color: rgb(155, 118, 40);
}

.topnav .dropdown {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  margin-top: 1rem;
  /* display: none; */
  /* height: 0px; */
  z-index: 100;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.navigation:hover .dropdown {
  visibility: visible;
  opacity: 1;
  display: block;
  /* height: 100px; */
  /* z-index: 100; */
}

.topnav ul li ul li {
  clear: both;
  width: 100%;
}

.toggle {
  width: 100%;
  padding: 10px 50px;
  background: #000;
  color: #fff;
  text-align: right;
  font-size: 30px;
  display: none;
}

/* end of drop down menu */
/* End of Navigation */

/* Hero section */
.hero {
  width: 100%;
  height: 90vh; /* Set the height to 100% of the viewport */
  position: relative;
  perspective: 100rem;
  overflow: hidden;
  margin-top: 10vh;
}
.hero-text {
  position: absolute;
  z-index: 9999;
  top: 35%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 72px;
  color: rgba(255, 255, 255, 0.753);
  font-family: "Zen Dots", cursive;
  padding: 30px;
}
.hero-desc {
  font-size: 1.5rem;
  top: 55%;
}
.carousel {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}
.hero-image {
  height: 100vh;
  /* width: 100vw; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.5;
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
/* End of Hero section */

/* Service secion */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 8rem 0;
}
.section-heading {
  font-family: "Mulish", serif;
  font-size: 5rem;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 5rem;
}
.underline {
  width: 12rem;
  height: 1.3rem;
  background-color: #d3a136;
}
.services {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(7, 7rem);
  row-gap: 4rem;
}
.service {
  width: 100%;
  margin: 2rem;
}
.service-header {
  display: flex;
  align-items: center;
  /* margin-bottom: 1rem; */
}
.service-header i {
  font-size: 4rem;
  color: #4b4b4b;
  margin-right: 2rem;
}
.service-header h3 {
  font-family: "Playfair Display SC", serif;
  font-size: 2.7rem;
  line-height: 2.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.service-text {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  text-align: justify;
}
.service:nth-child(1) {
  grid-column: 5 / 8;
  grid-row: 1 / 3;
}
.service:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}
.service:nth-child(3) {
  grid-column: 5 / 8;
  grid-row: 5 / -1;
}
.service:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}
.service:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}
.service:nth-child(6) {
  grid-column: 9 / 12;
  grid-row: 5 / -1;
}
.about-us-image-wrapper {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 100%;
}
.about-us-image-wrapper img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}
/* End of Service section */

/* Steps section */
#info {
  /* background-color: rgb(235, 225, 94); */
  /* padding: 2rem 0; */
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: stretch; */
  width: 1400px;
  height: 100%;
  position: relative;
  /* max-width: 1600px; */
  margin: 15px auto;
  /* padding: 1.5rem; */
  /* background-color: rgb(235, 225, 94); */
  background-color: rgb(235, 225, 94);
}
.card {
  display: inline-block;
  width: 17%;
  /* margin: 0 auto; */
  margin: 12px 0 12px 2.5rem;
  padding: 4rem 1rem 7rem 1rem;
  background-color: teal;
  position: relative;
}
.card:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  background-color: skyblue;
  top: 0px;
  right: 0px;
  border-bottom: 20px solid rgb(5, 110, 110);
  border-left: 20px solid rgb(5, 110, 110);
  border-right: 20px solid rgb(235, 225, 94);
  border-top: 20px solid rgb(235, 225, 94);
  position: absolute;
  filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.5));
}
.card:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-top: 20px solid rgb(5, 110, 110);
  border-right: 20px solid rgb(5, 110, 110);
  border-left: 20px solid rgb(235, 225, 94);
  border-bottom: 20px solid rgb(235, 225, 94);
  bottom: 0px;
  left: 0px;
  position: absolute;
  filter: drop-shadow(7px -7px 5px rgba(0, 0, 0, 0.5));
  margin-right: 10%;
}
.card:nth-of-type(1) {
  margin-right: 9%;
}

.card h2 {
  color: snow;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Russo One", sans-serif;
}

.card p {
  color: snow;
  font-size: 1.2rem;
  line-height: 140%;
  font-family: "Prata", serif;
  font-size: 1.6rem;
}

.main-img {
  position: absolute;
  top: 29%;
  left: 23%;
  width: 20%;
  /* height: 150px; */
  border-radius: 35px;
  transition: transform 0.2s ease-in;
  /* height: 70px; */
}
.main-img:hover {
  transform: translateY(-15px);
}
.block-reveal-cont-1 {
  position: absolute;
  top: 22%;
  left: 44%;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.block-reveal-cont-2 {
  position: absolute;
  top: 22%;
  left: 44%;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* block-$ */
.block-effect-1 {
  font-size: 30px;
  text-align: center;
  z-index: 9999;
}
.block-effect-2 {
  font-size: 30px;
  text-align: center;
  z-index: 9999;
}

.block-reveal {
  --t: calc(var(--td) + var(--d));
  color: transparent;
  padding: 4px;
  position: relative;
  overflow: hidden;
  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: "";
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards,
    revealingOut var(--td) var(--t) forwards;
}
.docs-cont {
  position: absolute;
  width: 100%;
  width: 463px;
  display: flex;
  justify-content: space-evenly;
  top: 17%;
  left: 65%;
}
.docs-cont img {
  display: inline-block;
  width: 115px;
  padding: 10px 25px 25px 10px;
}
.docs-cont label {
  font-size: 1.5rem;
  font-weight: 600;
}
.docs-cont {
  /* animation: slideFromRight 1s ease-in; */
}
.docs {
  transition: transform 0.2s ease-in;
}
.docs:hover {
  transform: translateY(-15px);
}
.kolaj {
  position: absolute;
  transition: transform 0.3s ease-in;
  width: 520px;
  top: 38px;
  left: 37%;
}
.kolaj:hover {
  transform: scale(1.2);
}
.yellow-btn {
  padding: 6px;
  border-radius: 26px;
  background-color: gold;
  /* border-radius: 20%; */
  letter-spacing: 2px;
  font-weight: bold;
  margin: 10px;
}
.yellow-btn-1 {
  padding: 6px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* border-radius: 26px; */
  background-color: gold;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 10px;
}
/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

#progress {
  /* padding: 0;
  list-style-type: none;
  font-family: arial;
  font-size: 12px;
  clear: both;
  line-height: 1em;
  margin: 0 -1px;
  text-align: center; */
}

.progress-item {
  float: left;
  padding: 10px 30px 10px 40px;
  background: #333;
  color: #fff;
  position: relative;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  width: 15%;
  margin: 0 1px;
  border-radius: 2px;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Prosto One", cursive;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.progress-item:before {
  content: "";
  /* border-left: 16px solid #fff; */
  /* border-top: 16px solid transparent;
  border-bottom: 16px solid transparent; */
  position: absolute;
  top: 0;
  left: 0;
}
.progress-item:after {
  content: "";
  border-left: 30px solid #333;
  border-top: 24px solid transparent;
  border-bottom: 22px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 20;
}

.progress-item.active {
  background: #555;
}

.progress-item.active:after {
  border-left-color: #555;
}

.car-anim-container {
  position: absolute;
  z-index: 999;
  top: 19px;
  width: 500px;
  height: 300px;
  left: 40%;
  /* animation: carAnim 1s ease-in; */
}

@keyframes carAnim {
  0% {
    transform: scale(0.1);
  }
  10% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(0.3);
  }
  30% {
    transform: scale(0.4);
  }
  40% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.6);
  }
  60% {
    transform: scale(0.7);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.car-anim-container image {
  width: 100%;
  height: 100%;
}
/* .steps {
  position: relative;
}
.steps h2 {
  font-size: 9em;
  padding: 0;
  display: inline;
  font-family: "Luckiest Guy", cursive;
  color: white;
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1),
    -0.03em 0 0 rgba(0, 0, 0, 1);
}
.steps h2 span {
  transform: scale(0.9);
  display: inline-block;
}
.steps h2 span:first-child {
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
    alternate;
}
.steps h2 span:last-child {
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
    infinite alternate;
}

.arrow {
  position: absolute;
  top: 31rem;
  width: 15vw;
  height: 13vh;
  animation-name: arrowAnim;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.date img {
  width: 100%;
  height: 100%;
  animation-name: arrowAnim;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
} */
/* End of Steps section */

/* Team section */
.team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 6rem;
}
.team-member {
  position: relative;
  width: 300px;
  height: 400px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

.team-image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: rgb(121, 121, 124);
}
.team-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}
.team-member:hover .team-image-wrapper img {
  opacity: 0.2;
}
.member-info {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  padding: 2rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}
.team-member:hover .member-info {
  opacity: 1;
  visibility: visible;
  bottom: 2rem;
}
.member-info h1 {
  font-family: "IBM Plex Serif", serif;

  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: #eee;
}
.member-info h2 {
  font-family: "Mulish", serif;
  font-size: 2rem;
  font-weight: 500;
  color: #a52a2a;
  margin-bottom: 1rem;
}
.member-info p {
  font-family: "IBM Plex Serif", serif;

  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 100;
  color: #eee;
  width: 80%;
  margin-bottom: 2rem;
}
.member-info button {
  width: 10rem;
  height: 3rem;
  background-color: #d3a136;
  border: none;
  font-family: "IBM Plex Serif", serif;

  line-height: 1.5rem;
  color: #eee;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}
/* End of Team section */

/* Contact section */
.contact {
  width: 100%;
  height: 100vh;
  background-color: #353434;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-form {
  width: 60%;
  height: 65rem;
  display: flex;
  /* background-color: #fff; */
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5);
}
.contact-left {
  width: 35%;
  height: 100%;
  position: relative;
}
/* .contact-left svg {
  width: 100%;
  height: 100%;
} */
.contact-left image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.one {
  opacity: 0.3;
}
.contact-right {
  width: 65%;
  background-color: #eee;
  padding: 3rem 10rem 10rem 10rem;
}
.contact-heading {
  font-family: "IBM Plex Serif", serif;

  font-size: 4rem;
  font-weight: 300;
  color: #272727;
  margin-bottom: 5rem;
  text-align: center;
}
.contact-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group {
  position: relative;
}
.field {
  width: 45rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem dashed #636363;
  margin: 3rem 0;
  padding: 1rem 1rem 1rem 0;
  font-family: "Mulish", serif;
  font-size: 1.6rem;
  color: #4b4b4b;
}
.input-group input {
  height: 4rem;
}
.field:focus {
  border-bottom: solid;
}
.field:focus label {
  bottom: 6rem;
}
.field:focus ~ label {
  transform: translateY(-3rem);
  font-size: 1.2rem;
}
.input-group textarea {
  max-height: 7rem;
  max-width: 45rem;
}
.input-group label {
  position: absolute;
  left: 0;
  font-family: "IBM Plex Serif", serif;
  font-size: 1.8rem;
  color: #4b4b4b;
  text-transform: uppercase;
  pointer-events: none;
  transition: all 0.3s;
}
.input-label {
  bottom: 3rem;
}
.message {
  bottom: 6rem;
}
.submit-btn {
  width: 45rem;
  height: 5rem;
  background-color: #d3a136;
  border: none;
  border-radius: 0.5rem;
  font-size: 2.6rem;
  color: #fff;
  font-weight: 300;
  margin-top: 2rem;
  font-family: "Mulish", serif;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
/* End of Contact section */

/* Bot section */
.bot {
  width: 1600px;
  position: relative;
  height: 800px;
  background-color: #d1f0f5f8;
  /* background-color: #b4dde2; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}
.box-items {
  height: 100%;
}
.bot-text {
  font-size: 5.5rem;
  font-weight: bold;
  position: absolute;
  top: 25px;
  left: 5%;
}
.bot button {
  position: absolute;
  padding: 22px;
  display: block;
  color: #fff;
  /* background-color: rgb(189, 213, 245); */
  background-color: #d3a136;
  border-radius: 10%;
  font-size: 43px;
  width: 14rem;
  height: 9rem;
  top: 610px;
  left: 10%;
  animation-name: pulsing-btn;
  animation-duration: 1.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  /* align-self: flex-start; */
}
.bot img {
  position: absolute;
  width: 550px;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  border-radius: 15%;
}
/* End of Bot section */

/* Footer */
footer {
  width: 100%;
}

.footer-wrap {
  width: 100%;
  height: 12rem;
  background-color: #1a1919;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer-wrap p {
  font-family: "Mulish", serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
}

.footer-icons i {
  margin: 0 6rem;
  font-size: 2.5rem;
  color: #fff;
}
.scroll-btn {
  position: fixed;
  bottom: 4.5rem;
  right: 6rem;
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  background-color: rgb(211, 161, 54, 0.3);
  /* background-color: #d3a136; */
  border-radius: 0.5rem;
  cursor: pointer;
}
.scroll-btn:hover {
  background-color: rgb(211, 161, 54, 1);
}
.scroll-btn h3 {
  font-weight: 900;
  font-size: 4.5rem;
  color: #fff;
  font-size: 2.6rem;
  color: #fff;
  margin-bottom: 0.4rem;
}
#mySvg {
  height: 100%;
  width: 100%;
}
/* End of Footer */

/* Responsiveness */
@media only screen and (max-width: 500px) {
  ul {
    flex-direction: column;
  }
  li {
    margin: 0;
  }
  a {
    display: block;
  }
  .topnav button {
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: #9fc22c;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-start;
  }
}

/* About sitimobil section */
.features-main .about-card {
  margin-right: 20px;
}
.features-main .grid p {
  font-size: 2rem;
  padding: 0 20px;
}
.features-main .grid {
  padding: 30px;
}
.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}
.features-main .grid > div:nth-child(2) {
  grid-column: 1 / span 2;
}

.my-2 {
  margin: 1.5rem 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.about-card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 911px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: rgb(29, 104, 226);
  }

  .features-main .grid > *:first-child,
  .features-main .grid > div:nth-child(2) {
    grid-column: 1;
  }
}

/* End of About sitimobil section */

/* Animations */
@keyframes pulsing-btn {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

/* Logo */
.topnav h1 {
  font-family: "CoreCircus", sans-serif;
  font-size: 3.5vw;
  text-align: center;
  line-height: 1;
  margin: 0;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  /* font-weight: 500; */
  /* background-color: rgb(226, 226, 226); */
  letter-spacing: -0.5rem;
}
.topnav h1:before {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  color: #ffcc00;
  /* width: 100%; */
  z-index: 5;
  text-shadow: none;
  left: 55%;
  text-align: left;
  animation: flicker 3s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(#fff, 0.4), 1px -1px 0 rgba(#fff, 0.4),
      -1px 1px 0 rgba(#fff, 0.4), 1px 1px 0 rgba(#fff, 0.4), 0 -2px 8px, 0 0 2px,
      0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@font-face {
  font-family: "CoreCircus2DDot1";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf")
      format("truetype");
}

@font-face {
  font-family: "CoreCircus";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf")
      format("truetype");
}
/* End of Logo */

.swipe-hint {
  margin: 50px;
  position: absolute;
  top: 21px;
  left: 48%;
  z-index: 9999;
}
.swipe-hint.swipe-horizontal {
  /* position: relative; */
  width: 200px;
}
.swipe-hint.swipe-horizontal img {
  position: absolute;
  width: 100px;
  display: inline-block;
  /* color: red; */
  border-radius: 100%;
  font-family: FontAwesome;
  animation: hint-finger ease-in 2s;
  animation-iteration-count: infinite;
  z-index: 100;
  font-size: 20px;
  /* opacity: 0.9; */
}
.swipe-hint.swipe-horizontal:before {
  position: absolute;
  content: " ";
  z-index: 999999;
  background: linear-gradient(
    to right,
    rgba(30, 87, 153, 1) 0%,
    rgba(44, 102, 165, 0.5) 15%,
    rgba(124, 184, 231, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  );
  right: 8px;
  top: 0;
  width: 0;
  height: 40px;
  animation: hint-dot ease-in 2s;
  animation-iteration-count: infinite;
}

@keyframes hint-finger {
  0% {
    right: 0;
    transform: scale(1);
  }
  20% {
    right: 0;
    transform: scale(0.7);
  }
  50% {
    right: 50px;
    transform: scale(0.7);
  }
  60% {
    transform: scale(1);
  }
  70% {
    right: 50px;
  }
  100% {
    right: 0;
    transform: scale(1);
  }
}

@keyframes hint-dot {
  20% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 0.7;
    width: 50px;
  }
  60% {
    opacity: 0;
    width: 50px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@media (max-width: 768px) {
  .toggle {
    display: block;
    width: 100vw;
  }
  .topnav .navbar {
    display: none;
    height: 100%;

    /* width: 100%; */
  }
  .navbar > li {
    display: block;
    text-align: center;
  }
  .topnav .active {
    display: block;
  }
  .menu {
    cursor: pointer;
  }
  .topnav h1 {
    font-size: 9.5vw;
    left: 33%;
    letter-spacing: -0.3rem;
  }
  .hide {
    display: none;
  }
  .topnav .active-dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 100;
  }
  .dropdown li {
    padding: 9px;
  }
  .hero-text {
    top: 28%;
    left: 60%;
    font-size: 48px;
  }
  .hero-desc {
    font-size: 1.3rem;
    top: 49%;
  }
  .carousel {
  }
  .hero-image {
    background-size: cover;
    background-position: center center;
  }

  .services {
    display: flex;
    flex-direction: column;
  }
  .service {
    width: 90%;
  }
  .section-heading {
    font-size: 4.5rem;
    text-align: center;
  }
  .main-img {
    position: static;
    width: 100%;
  }
  .card {
    width: 65%;
    margin: 20px auto;
  }
  .row {
    position: relative;
    width: 375px;
  }
  .progress-item {
    width: 90%;
  }
  .block-reveal-cont-1 {
    position: static;
  }
  .block-reveal-cont-2 {
    position: static;
  }
  .docs-cont {
    position: static;
    flex-direction: column;
  }
  .card:nth-of-type(1) {
    margin-right: 18%;
  }
  .docs-cont {
    margin: 0 auto;
    width: 110px;
  }
  .swipe-hint.swipe-horizontal {
    position: static;
  }
  .car-anim-container {
    position: static;
    width: 380px;
    height: 240px;
    margin-bottom: 20px;
  }
  .swipe-hint {
    margin: 0;
  }
  .kolaj {
    position: static;
    margin-bottom: 10px;
    width: 390px;
  }
  .main-cars {
    margin: 10px 0;
  }
  .team-members {
    flex-direction: column;
  }
  .team-member {
    margin: 34px;
  }
  .contact-left {
    display: none;
  }
  .contact-right {
    width: 100%;
    padding-left: 14px;
    padding: 0;
  }
  .wrapper-form {
    width: 80%;
    height: 57rem;
  }
  .input-group {
    width: 83%;
  }
  .field {
    width: 100%;
  }
  .contact-heading {
    margin: 2rem 0;
  }
  .submit-btn {
    width: 88%;
  }
  .input-group label {
    font-size: 1.4rem;
  }
  .bot-text {
    font-size: 3.5rem;
    top: 54px;
    left: 2%;
  }
  .bot {
    height: 667px;
  }
  .bot img {
    display: none;
  }
  .bot .the-bot {
    display: block;
    width: 164px;
    top: 24%;
    left: 18%;
  }
  .bot button {
    top: 488px;
    left: 8%;
    font-size: 36px;
    width: 13rem;
    height: 8rem;
  }
  .footer-wrap p {
    font-size: 1.6rem;
  }
  .footer-icons a {
    /* margin: 0 18px; */
  }
  .swipe-hint.swipe-horizontal::before {
    top: 336px;
    right: 44px;
    z-index: 0;
  }
  .footer-icons {
    display: flex;
  }
  .footer-icons i {
    margin: 0 2rem;
  }

  .hero {
    margin-top: 0;
  }
}
