.perevozka {
  border-radius: 25px;
  width: 34%;
}
.perevozka + p {
  padding: 10px;
  top: 40%;
  background-color: rgba(255, 253, 251, 0.7);
  font-size: 4rem;
  border-radius: 25px;
  color: #000;
}

@media (max-width: 940px) {
  .perevozka + p {
    font-size: 3.2rem;
  }
}
