/* Hero section */
.left-car {
  position: absolute;
  left: -346.5px;
  top: 297px;
  width: 1060px;
  display: table;
}
.right-car {
  left: 794.5px;
  top: 290px;
  width: 1100px;
  position: absolute;
  box-sizing: border-box;
  display: table;
}
.car-wrapper {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* End of Hero section */

.sitimobil {
  width: 100vw;
  height: auto;
}
/* Branding section */
.car-wrapper img {
  width: 100%;
  display: block;
  box-sizing: content-box;
  opacity: 1;
}
.branding h2 {
  position: absolute;
  font-weight: 900;
  font-family: "Mulish", serif;
  font-size: 5rem;
  color: #000;
  left: 50%;
  top: 12%;
  transform: translate(-50%, -50%);
}
.branding h3 {
  position: absolute;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #000;
  left: 50%;
  top: 23%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(255, 253, 251, 0.5);
  padding: 5px;
  border-radius: 25px;
  text-align: center;
  color: rgb(10, 9, 8);
}
.branding .process-items {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.branding p {
  color: goldenrod;
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
}
.branding .process-item {
  width: 15%;
}
.branding span {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Josefin Slab", serif;
  text-align: center;
}
/* End of Branding section */

/* Image gallery section */
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.gallery-row img {
  transition: transform 0.3s linear;
}
.gallery-row img:hover {
  transform: scale(1.1);
}
/* Create four equal columns that sits next to each other */
.gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}
@media (max-width: 940px) {
  .right-car {
    left: 196.5px;
    top: 295px;
    width: 529px;
    position: absolute;
    box-sizing: border-box;
    display: table;
  }
  .left-car {
    position: absolute;
    left: -346.5px;
    top: 297px;
    width: 529px;
    display: table;
  }
  .branding .process-items {
    position: relative;
    top: 40px;
    left: 0;
    flex-wrap: wrap;
    height: 0;
    flex-direction: row;
    transform: translate(0, 0);
  }
  .branding .process-item {
    width: 165px;
    height: 190px;
    margin: 8px;
  }
  .process-item img {
    position: relative;
    top: -5px;
    left: 27%;
    border-radius: 25px;
  }
  .process-items {
    margin: -19px 0;
  }
  .wrapper img,
  .product img,
  .process-item img {
    width: 48px;
    height: 23%;
  }
  .branding h2 {
    position: static;
    transform: translate(0, 0);
    font-size: 3rem;
    text-align: center;
    padding: 21px;
  }
  .branding h3 {
    font-size: 1.3rem;
    position: static;
    transform: translate(0, 0);
    text-align: center;
    margin-top: 8px;
  }
  .process-items p {
    padding: 0;
    font-size: 1.8rem;
  }
  .branding span {
    font-size: 1.4rem;
  }

  .yandex {
    width: 74%;
  }
  .carousel p {
    font-size: 2.5rem;
  }
  .carousel button#free {
    top: 76%;
  }
}
/* End of Image gallery section */
