.outter-container {
  clear: both;
  margin-bottom: 21px;
}

.inner-container {
  width: 80%;
  box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
  border-radius: 10px;
  height: 244px;
  display: flex;
  padding: 20px;
  margin: auto;
}

.productImage {
  flex: 0 0 auto;
}

.product-info {
  flex: 1 1 auto;
}
